version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
          day: 'monday'
      open-pull-requests-limit: 10
      reviewers:
          - 'hmake98'
      labels:
          - 'dependencies'
          - 'automated'
      commit-message:
          prefix: 'chore'
          include: 'scope'

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
          day: 'monday'
      open-pull-requests-limit: 5
      reviewers:
          - 'hmake98'
      labels:
          - 'dependencies'
          - 'github-actions'
      commit-message:
          prefix: 'ci'
